html, body {
  height: 100%;
}

.row.justify-content-center.align-items-center {
  height: 100%;
  min-height: 50%;
}

.footer {
  padding: 1.5rem 0 0 3rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}
/*  ANIMATIONS */
.element {
  animation-name: stretch;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 3;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: green;
    /* border-radius: 100%; */
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5);
  }
}
