*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bg-custom {
  background-color: #7BA714;
  color: #E3CF7F;
}

.center-image {
  margin-left: 30%;
  box-shadow: 5px 10px 18px black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border: 3px solid #7BA714;
}

.nav-color {
  color: #E3CF7F;
}

body {
  background-image: url("../img/jungle.jpg");
  background-position: cover;
  background-repeat: no-repeat;
}

.card-text {
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  background-color: rgba(123, 167, 20, 0.7);
  padding-bottom: 15px;
}

input[type=text] {
    width: 70%;
    padding: 12px 10px;
    margin: 8px 0;
    box-shadow: 5px 10px 18px black;
    box-sizing: border-box;
    border: none;
    background-color: #b0c61b;
    color: white;
    float: left;
}

.nobg {
  background-color: rgba(0, 0, 0, 0);
}
.player-button {
  width: 20%;
  float: left;
  text-align: center;
  background-color: #b0c61b;
  box-shadow: 5px 10px 18px black;
}

.start-button {

}
.start-button:hover {
  back
}


.button {
    display: inline-block;
    position: relative;
    margin: 1em;
    padding: 0.67em;
    border: 2px solid #FFF;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    outline: none;
    color: #FFF;
    background: rgba(123, 167, 20, 0.7);
    font-family: 'raleway', sans-serif;
}

.button span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.button:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

.button:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

/* Span on :hover and :active */

.button:hover span,
.button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*
    We show :before pseudo-element on :hover
    and :after pseudo-element on :active
*/

.button:hover:before,
.button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

/*
  We hide :before pseudo-element on :active
*/

.button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.winner {
  margin: auto;
  width: 70%;
  padding: 10px;

}

img {
  width: 1000px;
  height: auto;
}

.winner button {
  margin:1em;
    border:none;
    padding:0.25em 3em 0.25em 1em;
    text-align:left;
    background:
      linear-gradient(-120deg, transparent 1em, #10601c 1.05em , #10601c 1.5em, transparent 1.45em, transparent 2em, #10601c 2.05em) top no-repeat,
      linear-gradient(300deg, transparent 1em, #10601c 1.05em , #10601c 1.5em, transparent 1.45em, transparent 2em, #10601c 2.05em) bottom no-repeat ;
    background-size: 100% 50%;
    color:white
}
